@{
    ViewData["Title"] = "Home Page";
}
    @*<section class="main-image"></section>*@
    <div class="container">
        <img src="~/images/autoritedecertification.jpg" alt="Logo HTML w3" class="rounded img-fluid">
    </div>