@{
    ViewData["Title"] = "Home Page";
}


<section class="main-image"></section>
@*<div class="container">
    <img src="~/images/Cybersecurity.jpg" alt="Logo HTML w3" class="rounded img-fluid">
</div>*@