@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group ">
    <input type="button" value="Creat Certificate" class="btn btn-primary" id="Creat" />
</div>
@section Scripts {
    <script type="text/javascript">


        $("#Creat").click(function (){
            alert("Hello! I am an alert box!!");
        });
    </script>
}
