<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RA</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet" />
   
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>



    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item btn btn-warning btn-sm">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                        </li>
                        <li class="nav-item btn btn-warning btn-sm">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Csr" asp-action="Create"><strong>Certificates Request</strong></a>
                        </li>
                        <li class="nav-item btn btn-warning btn-sm">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cert" asp-action="Index"><strong>Certificates List</strong></a>
                        </li>
                        <li class="nav-item btn btn-warning btn-sm">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Crl" asp-action="Index"><strong>CRL</strong></a>
                        </li>
                        <li class="nav-item btn btn-warning btn-sm">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Index"><strong>Services</strong></a>
                        </li>
                        <li class="nav-item btn btn-warning btn-sm">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><strong>Privacy</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="bs-component">
        <div class="alert  bg-transparent">
           
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">



        <div class="container">

            &copy; 2020 - RA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>
    </footer>





    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
