@model RegistrationAuthority.Models.TbsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CommonName" class="control-label"></label>
                <input asp-for="CommonName" class="form-control" />
                <span asp-validation-for="CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainComponent" class="control-label"></label>
                <input asp-for="DomainComponent" class="form-control" />
                <span asp-validation-for="DomainComponent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationalUnitName" class="control-label"></label>
                <input asp-for="OrganizationalUnitName" class="form-control" />
                <span asp-validation-for="OrganizationalUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalityName" class="control-label"></label>
                <input asp-for="LocalityName" class="form-control" />
                <span asp-validation-for="LocalityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validity" class="control-label"></label>
                <select asp-for="Validity" asp-items="Model.Validitys" class="form-control">
                </select>
                <span asp-validation-for="Validity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithme" class="control-label"></label>
                <select asp-for="Algorithme" asp-items="Model.Algorithmes" class="form-control">
                </select>
                <span asp-validation-for="Algorithme" class="text-danger"></span>
            </div>
            <div class="form-group" id="KeySizeDiv">
                <label asp-for="KeySize" class="control-label"></label>
                <p>
                    <input type="range" asp-for="KeySize" class="form-control-range" />
                </p>
                
             
                <span asp-validation-for="KeySize" class="text-danger"></span>
            </div>
            <div class="form-group" id="ECTypeDiv">
                <label asp-for="ECType" class="control-label"></label>
                <select asp-for="ECType" asp-items="Model.ECTypes" class="form-control">
                </select>
                <span asp-validation-for="ECType" class="text-danger"></span>
            </div>
            <div class="form-group" id="CurveDiv">
                <label asp-for="Curve" class="control-label"></label>
                <input asp-for="Curve" class="form-control"/>
               
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hash" class="control-label"></label>
                <select asp-for="Hash" asp-items="Model.Hashs" class="form-control">
                </select>
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $('#KeySize').slider({
        formatter: function (value) {
            return  + value;
        }
    });
    $(document).ready(function () {
        $('#CurveDiv').hide();
        $('#ECTypeDiv').hide();
     
      
    });

    $("#Algorithme").change(function () {
        var val = $("#Algorithme").val();
      
        if (val == "RSA") {
            $('#KeySizeDiv').show();
            $('#CurveDiv').hide();
            $('#ECTypeDiv').hide();
         
        }
      
        else {
            $('#CurveDiv').show();
            $('#ECTypeDiv').show();
            $('#KeySizeDiv').hide();
        }
       
    });

    
   
</script>

}
