@model RegistrationAuthority.Models.TbsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CommonName" class="control-label"></label>
                <input asp-for="CommonName" class="form-control" />
                <span asp-validation-for="CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainComponent" class="control-label"></label>
                <input asp-for="DomainComponent" class="form-control" />
                <span asp-validation-for="DomainComponent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationalUnitName" class="control-label"></label>
                <input asp-for="OrganizationalUnitName" class="form-control" />
                <span asp-validation-for="OrganizationalUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalityName" class="control-label"></label>
                <input asp-for="LocalityName" class="form-control" />
                <span asp-validation-for="LocalityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validity" class="control-label"></label>
                <select asp-for="Validity" asp-items="Model.Validitys" class="form-control">
                </select>
                <span asp-validation-for="Validity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithme" class="control-label"></label>
                <select asp-for="Algorithme" asp-items="Model.Algorithmes" class="form-control">
                </select>
                <span asp-validation-for="Algorithme" class="text-danger"></span>
            </div>
            <div class="form-group" id="KeySizeDiv">
                <label asp-for="KeySize" class="control-label"></label>
                <p>
                    <input type="range" asp-for="KeySize" class="form-control-range" data-slider-min="1024" data-slider-max="8192" data-slider-step="256" data-slider-value="2048" />
                </p>
                <span asp-validation-for="KeySize" class="text-danger"></span>
            </div>
            <div class="form-group" id="ECTypeDiv">
                <label asp-for="ECType" class="control-label"></label>
                <select asp-for="ECType" asp-items="Model.ECTypes" class="form-control">
                </select>
                <span asp-validation-for="ECType" class="text-danger"></span>
            </div>
            <div class="form-group" id="CurveDiv">
                <label asp-for="Curve" class="control-label"></label>
                <select asp-for="Curve" class="form-control">
                </select>
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hash" class="control-label"></label>
                <select asp-for="Hash" asp-items="Model.Hashs" class="form-control">
                </select>
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Gen Keys" class="btn btn-primary" id="keygen" />
            </div>
            <div class="form-group" id="privdiv">
                <TEXTAREA id="Private" wrap="hard" rows=10 class="form-control text-monospace" ></TEXTAREA>
            </div>
            <div class="form-group" id="pubdiv">
                <TEXTAREA id="Public" rows=10 class="form-control text-monospace" ></TEXTAREA>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $("#keygen").click(function () {
        var value = $('#KeySize').slider('getValue');
       
        $.get('@Url.Action("GetRsaKeys")', { KeySize: value }, function (data) {
            document.getElementById("Private").value = data.s;
            document.getElementById("Public").value = data.h;
            $('#privdiv').show();
            $('#pubdiv').show();
            //alert(data.s);
            //alert(data.h);
        });
    });
   

    $('#KeySize').slider({
        formatter: function (value) {
            return  + value;
        }
    });
    $(document).ready(function () {
        $('#privdiv').hide();
        $('#pubdiv').hide();
        $('#CurveDiv').hide();
        $('#ECTypeDiv').hide();
        var curves = {
            'X962NamedCurves': ['c2pnb163v1', 'c2pnb163v2', 'c2pnb163v3', 'c2pnb176w1', 'c2pnb208w1', 'c2pnb272w1',
                'c2pnb304w1', 'c2pnb368w1', 'c2tnb191v1', 'c2tnb191v2', 'c2tnb191v3', 'c2tnb239v1',
                'c2tnb239v2', 'c2tnb239v3', 'c2tnb359v1', 'c2tnb431r1', 'prime192v1', 'prime192v2',
                'prime192v3', 'prime239v1', 'prime239v2', 'prime239v3', 'prime256v1'],
        }
        var $curves = $('#Curve');
        var curve = $('#ECType').val(), lcns = curves[curve] || [];

        var html = $.map(lcns, function (lcn) {
            return '<option value="' + lcn + '">' + lcn + '</option>'
        }).join('');

        $curves.html(html);



    });

    $("#Algorithme").change(function () {
        var val = $("#Algorithme").val();

        if (val == "RSA") {
            $('#KeySizeDiv').show();
            $('#CurveDiv').hide();
            $('#ECTypeDiv').hide();



        }
        else {
            $('#CurveDiv').show();
            $('#ECTypeDiv').show();
            $('#KeySizeDiv').hide();
        }

    });



    $('#ECType').change(function () {

            var curves = {
                'X962NamedCurves': ['c2pnb163v1', 'c2pnb163v2', 'c2pnb163v3', 'c2pnb176w1', 'c2pnb208w1', 'c2pnb272w1',
                                    'c2pnb304w1', 'c2pnb368w1', 'c2tnb191v1', 'c2tnb191v2', 'c2tnb191v3', 'c2tnb239v1',
                                    'c2tnb239v2', 'c2tnb239v3', 'c2tnb359v1', 'c2tnb431r1', 'prime192v1', 'prime192v2',
                                    'prime192v3', 'prime239v1', 'prime239v2', 'prime239v3', 'prime256v1'],
                'SecNamedCurves': ['secp112r1', 'secp112r2', 'secp128r1', 'secp128r2', 'secp160k1', 'secp160r1', 'secp160r2',
                                   'secp192k1', 'secp192r1', 'secp224k1', 'secp224r1', 'secp256k1', 'secp256r1', 'secp384r1',
                                   'secp521r1', 'sect113r1', 'sect113r2', 'sect131r1', 'sect131r2', 'sect163k1', 'sect163r1',
                                   'sect163r2', 'sect193r1', 'sect193r2', 'sect233k1', 'sect233r1', 'sect239k1', 'sect283k1',
                                   'sect283r1', 'sect409k1', 'sect409r1', 'sect571k1', 'sect571r1'],
                'NistNamedCurves': ['B-163', 'B-233', 'B-283', 'B-409', 'B-571', 'K-163', 'K-233', 'K-283', 'K-409', 'K-571',
                                    'P-192', 'P-224', 'P-256', 'P-384', 'P-521'],
                'TeleTrusTNamedCurves': ['brainpoolP160r1', 'brainpoolP160t1', 'brainpoolP192r1', 'brainpoolP192t1', 'brainpoolP224r1',
                                         'brainpoolP224t1', 'brainpoolP256r1', 'brainpoolP256t1', 'brainpoolP320r1', 'brainpoolP320t1',
                                         'brainpoolP384r1', 'brainpoolP384t1', 'brainpoolP512r1', 'brainpoolP512t1'],

            }
            var $curves = $('#Curve');
            var curve = $(this).val(), lcns = curves[curve] || [];

            var html = $.map(lcns, function (lcn) {
                return '<option value="' + lcn + '">' + lcn + '</option>'
            }).join('');

            $curves.html(html)
        });


</script>

}
