@model RegistrationAuthority.Models.TbsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CommonName" class="control-label"></label>
                <input asp-for="CommonName" class="form-control" />
                <span asp-validation-for="CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainComponent" class="control-label"></label>
                <input asp-for="DomainComponent" class="form-control" />
                <span asp-validation-for="DomainComponent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationalUnitName" class="control-label"></label>
                <input asp-for="OrganizationalUnitName" class="form-control" />
                <span asp-validation-for="OrganizationalUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalityName" class="control-label"></label>
                <input asp-for="LocalityName" class="form-control" />
                <span asp-validation-for="LocalityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validity" class="control-label"></label>
                <input asp-for="Validity" class="form-control" />
                <span asp-validation-for="Validity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithme" class="control-label"></label>
                <input asp-for="Algorithme" class="form-control" />
                <span asp-validation-for="Algorithme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeySize" class="control-label"></label>
                <input asp-for="KeySize" class="form-control" />
                <span asp-validation-for="KeySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECType" class="control-label"></label>
                <input asp-for="ECType" class="form-control" />
                <span asp-validation-for="ECType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hash" class="control-label"></label>
                <input asp-for="Hash" class="form-control" />
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
